
@model wibuShop.Models.TaiKhoan
@{
    ViewBag.Title = "ThongTinTaiKhoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Thông tin tài khoản</title>
<style>
    .col-main {
        background-color: gainsboro
    }

    body, .container, bg-header-con, .ma-menu .container {
        background-color: white
    }

    .col-md-41 {
        font-weight: bold;
        font-size: 17px
    }
</style>
<main id="main" class="row d-flex justify-content-center align-items-center" style="text-align:center;background-color:white;height:auto;width:60%;margin-left:35%;margin-bottom:100px">
    <div class="col-md-6 mt-5" style="text-align:center">
        <h1>THÔNG TIN TÀI KHOẢN</h1>
        <form class="pt-3">
            <div class="form-group row">
                <div class="col-md-4 col-md-41">Ảnh</div>
                <div class="col-md-8">
                    @{ string image = "~/wwwroot/images/TaiKhoan/" + Model.Anh; }
                    @if (Session["Anh"] != null)
                    {
                        <img width="180" id="output" height="120" class="cart-img-icon" alt="Đăng nhập" src="@Url.Content(image)" /> }
                    else
                    {
                        <img width="180" id="output" height="120" class="cart-img-icon" alt="Đăng nhập" src="~/wwwroot/images/user/user.png" />}
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-md-4 col-md-41">Họ tên</div>
                <div class="col-md-8">@Html.DisplayFor(model => model.HoTen)</div>
            </div>
            <div class="form-group row ">
                <div class="col-md-4 col-md-41">Email</div>
                <div class="col-md-8">@Html.DisplayFor(model => model.Email)</div>
            </div>

            <div class="form-group row ">
                <div class="col-md-4 col-md-41">Số điện thoại</div>
                <div class="col-md-8 ">@Html.DisplayFor(model => model.SoDienThoai)</div>
            </div>
            <div class="form-group row ">
                <div class="col-md-4 col-md-41">Địa chỉ</div>
                <div class="col-md-8 ">@Html.DisplayFor(model => model.DiaChi)</div>
            </div>
            <div class="mt-1 d-flex justify-content-center align-items-center">
                @{ string link = "/TaiKhoan/SuaTaiKhoan/" + Model.MaTK;
                    string linkHoaDon = "/GioHang/XemHoaDon/" + Model.MaTK; }
                <a href="@Url.Content(link)" style="background-color: orange;color:white" class="btn btn-lg font-weight-medium auth-form-btn mr-5">Sửa Tài Khoản</a>
                <a href="@Url.Content(linkHoaDon)" style="background-color: orange;color: white" class="btn btn-lg font-weight-medium auth-form-btn">Đơn Mua</a>

            </div>

        </form>

    </div>
</main>
<hr />


