@model wibuShop.Models.HoaDon

@{ ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<wibuShop.Models.SanPham> sp = (List<wibuShop.Models.SanPham>)ViewBag.SanPham;
    var ghiChu = Model.GhiChu;
    double tong = 0; }

<title>Chi Tiết Giỏ Hàng</title>
<main id="main" class="row d-flex justify-content-center align-items-center">
    <div class="col-12 grid-margin pt-5">
        <div class="card">
            <div class="card-body">
                <form class="form-sample">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Mã giỏ hàng</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label">: @Html.DisplayFor(model => model.MaGioHang)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Ngày tạo</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label">: @Html.DisplayFor(model => model.NgayTao)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Tình trạng</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label">: @Html.DisplayFor(model => model.TinhTrang)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">SĐT</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label">: @Html.DisplayFor(model => model.SoDienThoai)</label>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Hình thức vận chuyển</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label">: @Html.DisplayFor(model => model.HinhThucVanChuyen)</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Hình thức thanh toán</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label">: @Html.DisplayFor(model => model.HinhThucThanhToan)</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">



                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Họ tên</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label">: @Html.DisplayFor(model => model.HoTen)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Địa chỉ</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label">: @Html.DisplayFor(model => model.DiaChi)</label>
                                </div>
                            </div>
                        </div>

                        @if (ghiChu != "")
                        {
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Ghi chú</label>
                                    <div class="col-sm-8">
                                        <label class="col-form-label">: @Html.DisplayFor(model => model.GhiChu)</label>
                                    </div>
                                </div>
                            </div>}
                    </div>

                    <table id="recent-purchases-listing" class="table" style="margin-left:-35px">
                        <thead>
                            <tr>
                                <th>
                                    Tên sản phẩm
                                </th>

                                <th>
                                    Ảnh
                                </th>

                                <th>
                                    Giá
                                </th>
                                <th>
                                    Số lượng
                                </th>
                                <th>Tổng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in sp)
                            {


                                double giagiam = Convert.ToDouble(@item.Gia);
                                tong += giagiam * item.SoLuongTon;
                                <tr>
                                    <td>
                                        @item.TenSP
                                    </td>
                                    <td>

                                        @{ string ImagePath = "~/wwwroot/images/SanPham/" + item.AnhSP; }
                                        <img src="@Url.Content(ImagePath)" style="width:100px;height:auto;border-radius:0px" />
                                    </td>
                                    <td style="text-decoration:none">
                                        <ins style="text-decoration:none">
                                            <span class="woocommerce-Price-amount amount" style="text-decoration:none">
                                                <bdi style="text-decoration:none;color:red">
                                                    @String.Format("{0:#,###}", item.Gia)
                                                <span class="woocommerce-Price-currencySymbol">&#8363;</span>
                                            </bdi>
                                        </span>
                                    </ins>
                                </td>
                                <td>
                                    @item.SoLuongTon
                                </td>
                                <td>
                                    <ins style="text-decoration:none"><span class="woocommerce-Price-amount amount"><bdi style="color:red">@String.Format("{0:#,###}", (@giagiam * item.SoLuongTon)) <span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi></span></ins>
                                </td>
                            </tr>

                        }
                        </tbody>
                    </table>
                    <div class="row justify-end mt-3">
                        <div class="col-md-3">
                            <b style="font-size:20px;margin-left:-30px">Tổng tiền :</b>
                            <ins style="text-decoration:none;color:red"><span class="woocommerce-Price-amount amount" style="font-size:25px"><bdi style="text-decoration:none;color:red">@String.Format("{0:#,###}", tong) <span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi></span></ins>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        @{ string link = "/GioHang/XemHoaDon/" + Session["idUser"]; }
                        <a class="nav-link" href="@Url.Content(link)">
                            <span class="menu-title btn btn-outline-primary btn-fw " style="background-color:orange;color:white;margin-left:40px">Quay lại</span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<hr />
<style>
    th {
        text-transform: none !important;
    }

    .col-main {
        background-color: gainsboro
    }

    body, .container, bg-header-con, .ma-menu .container {
        background-color: white
    }

    .row {
        margin-left: 5%
    }

    th {
        text-align: center;
        font-size: 20px
    }

    td {
        font-size: 15px;
        text-align: center
    }
</style>



