@model List<wibuShop.Models.Gio>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    double TongTien = 0;
}

@if (Model == null || Model.Count == 0)
{
    <p style="font-size: 20px; font-weight: 500; color:black;text-align:center" class="text-center mt-5 mb-5">
        Chưa có sản phẩm trong giỏ hàng.
    </p>
    <div class="d-flex justify-content-center pb-5" style="text-align:center;margin:50px">

        <a href="@Url.Action("Index","Home")" class="btn btn-lg font-weight-medium auth-form-btn justify-center" style="background-color:orange; color:white;text-decoration:none;padding:10px;margin-bottom:50px">Quay trở lại cửa hàng</a>
    </div> }
else
{
    <div id="content" class="content-area page-wrapper" role="main">
        <div class="row row-main">
            <div class="large-12 col">
                <div class="col-inner">
                    <div class="woocommerce">
                        <div class="woocommerce-notices-wrapper"></div>
                        <div class="woocommerce row row-large row-divided">
                            <div class="col large-7 pb-0 ">


                                <div class="cart-wrapper sm-touch-scroll">

                                    <form id="delete-cart" style="text-align:right" method="post" action="@Url.Action("XoaKhoiGio", "GioHang", new { MaSP = -1})">
                                        <button style="background: #f12323;margin-left:80%;height:50px;font-size:18px;width:150px; color: #fff" type="submit" class="btn btn-sm" onclick="return functionConfirmDeleteCart(this)">Xóa giỏ hàng</button>
                                    </form>
                                    <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents" cellspacing="0px" cellpadding="0px" border="0">
                                        <thead>
                                            <tr>
                                                <th class="product-price"></th>

                                                <th class="product-name" colspan="3" style="font-weight:bold">SẢN PHẨM</th>
                                                <th class="product-price">TÊN SẢN PHẨM</th>
                                                <th class="product-price">GIÁ</th>
                                                <th class="product-quantity">SỐ LƯỢNG</th>
                                                <th class="product-subtotal">TẠM TÍNH</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                double giagiam = Convert.ToDouble(@item.sanPham.Gia) - Convert.ToDouble(@item.sanPham.GiamGia);
                                                String imagePath = "~/wwwroot/images/SanPham/" + item.sanPham.AnhSP;
                                                TongTien += giagiam * item.soLuong;
                                                <tr class="woocommerce-cart-form__cart-item cart_item" style="border-bottom: 1px solid #ececec">
                                                    <td style="padding-left:4%;padding-top:3%">
                                                        <form id="deleteSP-@item.sanPham.MaSP" method="post" action="@Url.Action("XoaKhoiGio", "GioHang", new { MaSP = item.sanPham.MaSP})">
                                                            <button type="submit" style="background: #f12323; color: #fff; border-radius: 50%" class="btn btn-sm" onclick="return functionConfirm(this, @item.sanPham.MaSP)">X</button>
                                                        </form>
                                                    </td>
                                                    <td class="product-thumbnail">
                                                        <img src="@Url.Content(imagePath)"
                                                             class="img-custom" alt="" loading="lazy" style="width:80px;height:120px" />
                                                    </td>
                                                    <td class="product-name" data-title="Sản phẩm" style="font-size:15px;margin-top:14%">@item.sanPham.TenSP</td>
                                                    <td style="padding: 20px;text-align: center;color:red;font-weight:bold">
                                                        <span class="woocommerce-Price-amount amount">
                                                            <bdi>@String.Format("{0:#,###}", giagiam)<span> <class ="woocommerce-Price-currencySymbol">₫</span></bdi>
                                                        </span>
                                                    </td>
                                                    <td style="padding: 10px">
                                                        <form id="SuaSL" method="post" enctype='multipart/form-data' action="@Url.Action("SuaSoLuong", "GioHang", new { MaSP = item.sanPham.MaSP })">
                                                            <div class="quantity buttons_added">
                                                                <input style="background-color: gainsboro; color: black; width: 0.5px; height: 30px; border-right: none; border-color: gainsboro;border-radius:0px;font-size:20px;z-index:2" type="submit" value="-" class="minus button is-form abc " onclick="giam()">
                                                                <input type="number" id="quantity_60d19c138f0b1" class="input-text qty text" step="1" min="0" max="@item.sanPham.SoLuongTon" name="SoLuong" value="@item.soLuong" title="SL" size="4" placeholder="" inputmode="numeric" readonly style="height: 30px;z-index:1; font-size: 15px;text-align:center" />
                                                                <input style="background-color: gainsboro; color: black; width: 1px; height: 30px; border-left: none; border-color: gainsboro; border-radius: 0px;z-index:2" type="submit" value="+" class="plus button is-form abc " onclick="tang()">
                                                            </div>
                                                        </form>
                                                        @item.soLuong/@item.sanPham.SoLuongTon
                                                    </td>

                                                    <td style="padding: 20px;text-align: center;color:red;font-weight:bold">
                                                        <span class="woocommerce-Price-amount amount">
                                                            <bdi>@((giagiam*item.soLuong).ToString("N0"))<span class="woocommerce-Price-currencySymbol">₫</span></bdi>
                                                        </span>

                                                    </td>



                                                </tr>
                                            }

                                            <tr>
                                                <td>
                                                    <div class="continue-shopping pull-left text-left mt-2" style="margin-top:20px">
                                                        <a class="xemtiep" href="@Url.Action("Index","Home")" style="padding:5px;color:white;background-color:orange">
                                                            ←&nbsp;TIẾP TỤC XEM SẢN PHẨM
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="cart-collaterals large-5 col pb-0" style="margin-top:40px;margin-left:40px">

                                <div class="cart-sidebar col-inner ">
                                    <div class="cart_totals " style="border:solid;border-color:gainsboro;width:300px;background-color:gainsboro;text-align:center;padding:25px">
                                        <table cellspacing="0" class="shop_table shop_table_responsive">

                                            <tbody>
                                                <tr class="cart-subtotal">
                                                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tổng Tiền :</th>
                                                    <td data-title="Tạm tính">
                                                        <span class="woocommerce-Price-amount amount" style="color:red;font-weight:bold">
                                                            <bdi>@String.Format("{0:#,###}", @TongTien)<span class="woocommerce-Price-currencySymbol">₫</span></bdi>
                                                        </span>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>

                                        <div class="wc-proceed-to-checkout" style="margin-top:20px">

                                            <a href="@Url.Action("ThanhToan","GioHang")" class="checkout-button button alt wc-forward" style="color:white;background-color:orange;padding:10px;margin-top:100px">
                                                Tiến hành thanh toán
                                            </a>
                                        </div>
                                    </div>

                                    <div class="cart-sidebar-content relative"></div>
                                </div>

                            </div>
                        </div>

                        <div class="cart-footer-content after-cart-content relative"></div>
                    </div>


                </div>
            </div>
        </div>
    </div>}
<hr />
<style>
    .widget_shopping_cart_content a {
        text-decoration: none;
        font-size: 20px;
        font-family: Calibri;
        margin-left: 20px;
    }

    .col-main {
        background-color: gainsboro
    }

    .container {
        background-color: white
    }

    th {
        font-weight: bold;
        text-align: center;
        vertical-align: middle
    }

    td {
        text-align: center;
        vertical-align: middle
    }

    table {
        border: none !important;
        width: 80%;
        height: auto
    }

        table tbody th, table tbody td {
            border-bottom: 0px solid #d9dde3;
            border-left: 0px solid #d9dde3;
        }

        table th {
            border-right: 0px solid #d9dde3;
            border-bottom: 1px solid #ececec;
        }

    .abc {
        width: 1px
    }
</style>
<script type="text/javascript">
    function functionConfirm(event, id) {
        swal({
            title: 'Thông báo',
            text: "Bạn chắc chắn muốn xóa sản phẩm này",
            type: 'warning',
            showCancelButton: true,
            cancelButtonText: 'Hủy',
            cancelButtonClass: 'btn btn-danger',
            showConfirmButton: true,
            confirmButtonText: 'Đồng ý',
            confirmButtonClass: 'btn btn-success'
        }, function (isConfirm) {
            if (isConfirm) {
                $("#deleteSP-" + id).submit();

                return true;
            } else {
                return false;
            }
        });
        return false;
    }</script>

<script type="text/javascript">
    function functionConfirmDeleteCart(event) {
        swal({
            title: 'Thông báo',
            text: "Bạn chắc chắn muốn xóa tất cả sản phẩm này khỏi giỏ hàng",
            type: 'warning',
            showCancelButton: true,
            cancelButtonText: 'Hủy',
            cancelButtonClass: 'btn btn-danger',
            showConfirmButton: true,
            confirmButtonText: 'Đồng ý',
            confirmButtonClass: 'btn btn-success'
        }, function (isConfirm) {
            if (isConfirm) {
                $('#delete-cart').submit();
                return true;
            } else {
                return false;
            }
        });
        return false;
    }</script>

<script type="text/javascript">
    $(document).ready(function () {
        console.log("Hello");

        loadData();
    });

    const loadData = async () => {
        console.log("Hello1");
        try {
            const res = await fetch(
                "/GioHang/Index"
            );
            const data = await res.json();
            console.log(data);

        } catch (error) {
            console.log(error);
        }

    }
    function tang() {

    }
</script>
@*Tăng giảm số lượng cho input*@
<script type='text/javascript' src='~/wwwroot/js/hoverIntent.minc245.js' id='hoverIntent-js'></script>
<script type='text/javascript' id='flatsome-js-js-extra'>
    /* <![CDATA[ */
    var flatsomeVars = { "ajaxurl": "https:\/\/lamdepz.com\/wp-admin\/admin-ajax.php", "rtl": "", "sticky_height": "45", "lightbox": { "close_markup": "<button title=\"%title%\" type=\"button\" class=\"mfp-close\"><svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" width=\"28\" height=\"28\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"feather feather-x\"><line x1=\"18\" y1=\"6\" x2=\"6\" y2=\"18\"><\/line><line x1=\"6\" y1=\"6\" x2=\"18\" y2=\"18\"><\/line><\/svg><\/button>", "close_btn_inside": false }, "user": { "can_edit_pages": false }, "i18n": { "mainMenu": "Main Menu" }, "options": { "cookie_notice_version": "1" } };
        /* ]]> */
</script>
<script type='text/javascript' src='~/wwwroot/js/flatsome2916.js?ver=3.13.1' id='flatsome-js-js'></script>
<script type='text/javascript' src='~/wwwroot/js/woocommerce2916.js?ver=3.13.1' id='flatsome-theme-woocommerce-js-js'></script>



