
@model PagedList.IPagedList<wibuShop.Models.SanPham>
@using PagedList.Mvc;
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
@{
    ViewBag.Title = "XemSanPhamTheoDanhMuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link herf="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    List<string> tacgia = ViewBag.tacgia as List<string>;
    List<string> nxb = ViewBag.nxb as List<string>;
    int maDM = int.Parse(ViewBag.MaDM);
    string tes = ViewBag.test;
    int x = ViewBag.cost;
    string TenNXB = ViewBag.NhaXuatBan;
}
<div style="display:flex;width:110%">
    <div style="margin-top:20px;width:20%;">
        <div>
            <button class="accordion1">Giá</button>
            <div class="panel1">
                <div class="form-check">
                    @if (ViewBag.CanhBao == true)
                    {
                        <input class="form-check-input price-check" type="checkbox" name="checkbox1" id="flexCheckChecked1" checked onclick="gia1(false)" />

                    }
                    else
                    {
                        <input class="form-check-input price-check" type="checkbox" name="checkbox1" id="flexCheckChecked1" onclick="gia1(true)" />
                    }
                    <label class="form-check-label" for="flexCheckDefault">0đ - 100,000đ</label>
                </div>

                <!-- Checked checkbox -->
                <div class="form-check">
                    @if (ViewBag.CanhBao1 == true)
                    {
                        <input class="form-check-input price-check" type="checkbox" name="checkbox1" id="flexCheckChecked1" checked onclick="gia2(false)" />

                    }
                    else
                    {
                        <input class="form-check-input price-check" type="checkbox" name="checkbox1" id="flexCheckChecked1" onclick="gia2(true)" />
                    }
                    <label class="form-check-label" for="flexCheckDefault">100,000đ - 200,000đ</label>
                </div>
                <div class="form-check">
                    @if (ViewBag.CanhBao2 == true)
                    {
                        <input class="form-check-input price-check" type="checkbox" name="checkbox1" id="flexCheckChecked1" checked onclick="gia3(false)" />

                    }
                    else
                    {
                        <input class="form-check-input price-check" type="checkbox" name="checkbox1" id="flexCheckChecked1" onclick="gia3(true)" />
                    }
                    <label class="form-check-label" for="flexCheckDefault">200,000đ - 300,000đ</label>
                </div>
                <div class="form-check">
                    @if (ViewBag.CanhBao3 == true)
                    {
                        <input class="form-check-input price-check" type="checkbox" name="checkbox1" id="flexCheckChecked1" checked onclick="gia4(false)" />

                    }
                    else
                    {
                        <input class="form-check-input price-check" type="checkbox" name="checkbox1" id="flexCheckChecked1" onclick="gia4(true)" />
                    }
                    <label class="form-check-label" for="flexCheckDefault">300,000đ - Trở lên</label>
                </div>
            </div>
           
        </div>
        <hr />
       
    </div>
    <div class="row" id="content" style=" background-color: white;width:100%;margin-left:5%">
        @foreach (var item in Model)
        {
            double giagiam = Convert.ToDouble(@item.Gia) - Convert.ToDouble(@item.GiamGia);
            double giam = Convert.ToDouble(@item.GiamGia) / Convert.ToDouble(item.Gia) * 100;
            double giamphantram = Math.Round(giam, 0);
            <div class="col-md-4 col-xs-6" style="width:280px;margin-left:10px">
                <div class="product" style="text-align:center;margin-top:20px;margin-bottom:20px">
                    <div class="absolute left top z-1">
                        <div class="badge-inner secondary on-sale" style="background-color: red; width: 50px"><span class="onsale" style="background-color: #F7941E; color: white; width: 40px; font-size: 15px; border-radius: 50%; height: 40px; padding-top: 10px">@giamphantram%</span></div>
                    </div>
                    <div class="product-img">
                        @{
                            string ImagePath = "~/wwwroot/images/SanPham/" + item.AnhSP;
                        }
                        <a href="@Url.Action("SanPham","SanPham", new { id = item.MaSP })">
                            <img src="@Url.Content(ImagePath)" id="anhSP" alt="" style="width:140px;height:190px" />
                        </a>
                    </div>
                    <div class="product-body">
                        <p class="product-category" style="text-align: left; margin-top: 15px; min-height: 40px">
                            @Html.DisplayFor(modelItem => item.TenSP)
                        </p>
                        <h4 class="product-price" style="text-align:left; color:red">
                            <span style="  color: #F7941E;font-size:1.35em;font-weight:bold">@String.Format("{0:#,###}", @giagiam)</span><span class="woocommerce-Price-currencySymbol" style="color: #F7941E;font-size:1.35em">&#8363;</span><br />
                            <span style="text-decoration-line: line-through; color: #888888; font-size: 1.35em ">@String.Format("{0:#,###}", @item.Gia)</span><span class="woocommerce-Price-currencySymbol" style=" color: #888888; text-decoration: none; font-size: 1.1em;">&#8363;</span>
                        </h4>
                    </div>
                    <div class="progress" style="background-color:red!important">
                        <span class="progress-value" style="color:white">
                            Đã bán @{ Html.RenderAction("DaBan", "Home", new { id = item.MaSP }); }
                        </span>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="container1" style="margin-left:40%">
    <div class="phantrang">
        <nav class="woocommerce-pagination1">
            <div>
                @Html.PagedListPager(Model, page => Url.Action("XemSanPhamTheoDanhMuc", new { page, loc = ViewBag.Loc }), new PagedListRenderOptions()
           {
               LiElementClasses = new string[] { "page-number" },
               UlElementClasses = new string[] { "page-numbers", "nav-pagination", "links", "text-center" }
           })
            </div>
        </nav>
    </div>
</div>
<hr />
<style>
    .widget_shopping_cart_content a {
        text-decoration: none;
        font-size: 40px;
        font-family: Calibri;
        margin-left: 20px;
    }

    .pagination-container ul {
        text-align: center;
        display: flex;
    }

        .pagination-container ul li {
            text-align: center;
            width: 60px;
            border-color: gainsboro;
            margin: 0px;
            padding: 5px;
            height: 40px;
            border-radius: 40%;
            font-size:25px;
            border:medium;
            margin-left:10px;
            background-color:none;
            border:solid
        }
        .pagination-container ul li a{
            color:red;
        }
            .pagination-container ul li a:hover {
                background-color:orange;
                color:blue
            }

            .pagination-container ul li:hover {
                background-color: orange;
            } 
    .active {
        background-color: yellow;
    }
    .product:hover {
        box-shadow: 1px 1px 1px 1px #AAA;
    }
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 8px;
        width: 50%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

    .accordion1 {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 8px;
        width: 50%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

    

    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
    .w_nav li a{
        text-decoration:none;

    }
    .w_nav li {
        margin-left:20px;
    }
    .col-main {
        background-color: gainsboro
    }

    .container {
        background-color: white
    }
    .progress {
        background-image: -webkit-linear-gradient(top, red 0%, red 100%);
        background-image: linear-gradient(to bottom, red 0%, red 100%);
        border-radius: 25px
    }
    .form-check-label {
        margin-top: 8px;
        width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    #flexCheckChecked1{
        margin-left:8%
    }
    #flexCheckChecked{
        margin-left:8%
    }
</style>
<script>

    var tam = 0;
    function gia1(abc) {
        tam++;
        if (abc) {
            window.location = '@Url.Action("XemSanPhamTheoDanhMuc", "SanPham", new { id = maDM , cost = 100000})'
        }

        else {
            tam = 0;
             window.location = '@Url.Action("XemSanPhamTheoDanhMuc", "SanPham", new { id = maDM , cost = 0})'
        }
    }
    function gia2(abc1) {
        tam++;
        if (abc1) {
            window.location = '@Url.Action("XemSanPhamTheoDanhMuc", "SanPham", new { id = maDM , cost = 200000})'
        }

        else {
            tam = 0;
             window.location = '@Url.Action("XemSanPhamTheoDanhMuc", "SanPham", new { id = maDM , cost = 0})'
        }
    }
    function gia3(abc2) {
        tam++;
        if (abc2) {
            window.location = '@Url.Action("XemSanPhamTheoDanhMuc", "SanPham", new { id = maDM , cost = 300000})'
        }

        else {
            tam = 0;
             window.location = '@Url.Action("XemSanPhamTheoDanhMuc", "SanPham", new { id = maDM , cost = 0})'
        }
    }
    function gia4(abc3) {
        tam++;
        if (abc3) {
            window.location = '@Url.Action("XemSanPhamTheoDanhMuc", "SanPham", new { id = maDM , cost = 300001})'
        }

        else {
            tam = 0;
             window.location = '@Url.Action("XemSanPhamTheoDanhMuc", "SanPham", new { id = maDM , cost = 0})'
        }
    }
</script>




