
@model IEnumerable<wibuShop.Models.DanhMucSP>
@{
    List<string> tacgia = ViewBag.tacgia as List<string>;
    List<string> nxb = ViewBag.nxb as List<string>;
}
@foreach (var item in Model)
{
    <ul class="nav navbar-nav verticalmenu">
        <li class=" parent dropdown aligned-left  ">

            <span class="open-child hidden-md hidden-lg">(open)</span><a href="@Url.Action("XemSanPhamTheoDanhMuc", "SanPham", new { id = item.MaDM })" class="dropdown-toggle" title="Sách Trong Nước" data-toggle="dropdown" data-clickable="1"><i class="ico_sachtrongnuoc"></i><span class="menu-title">@item.TenDM</span><b class="caret"></b></a><div class="dropdown-menu" style="width:840px">
                <div class="dropdown-menu-inner">
                    <div class="row">
                        <div class="mega-col col-sm-3 " data-widgets="wid-98" data-colwidth="3">
                            <div class="mega-col-inner">
                                <div class="ves-widget" data-id="wid-98">
                                    <div class="widget-html">
                                        <div class="widget-inner">
                                            <h3><span style="color: #333333;"><strong><a style="font-weight: bold; font-size: 13px;" href="@Url.Action("XemSanPhamTheoDanhMuc", "SanPham", new { id = item.MaDM })"><span style="color: #333333;">NHÀ XUẤT BẢN</span></a></strong></span></h3>
                                            <ul class="nav-links">

                                                @for(int i=0;i<10;i++)
                                                {                                                    
                                                        <li><a href="#">@nxb[i]</a></li>                                                  
                                                }
                                                <li style="color: #2489f4;"><span style="color: #2489f4;"><a href="@Url.Action("XemSanPhamTheoDanhMuc","SanPham",new { id = item.MaDM})"><span style="color: #2489f4;">Xem tất cả</span></a></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="mega-col col-sm-3 " data-widgets="wid-11" data-colwidth="3">
                            <div class="mega-col-inner">
                                <div class="ves-widget" data-id="wid-11">
                                    <div class="widget-html">
                                        <div class="widget-inner">
                                            <h3><span style="color: #333333;"><strong><a style="font-weight: bold; font-size: 13px;" href="@Url.Action("XemSanPhamTheoDanhMuc", "SanPham", new { id = item.MaDM })"><span style="color: #333333;">TÁC GIẢ</span></a></strong></span></h3>
                                            <ul class="nav-links">
                                                @for (int i = 0; i < 10; i++)
                                                {
                                                    <li><a href="#">@tacgia[i]</a></li>

                                                }
                                                <li style="color: #2489f4;"><span style="color: #2489f4;"><a href="https://www.fahasa.com/sach-trong-nuoc/kinh-te-chinh-tri-phap-ly.html"><span style="color: #2489f4;">Xem tất cả</span></a></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
}