

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quản trị Admin</title>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link rel="stylesheet" href="~/Areas/plugins/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="~/Areas/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

    <link rel="stylesheet" href="~/Areas/plugins/icheck-bootstrap/icheck-bootstrap.min.css">

    <link rel="stylesheet" href="~/Areas/plugins/jqvmap/jqvmap.min.css">

    <link rel="stylesheet" href="~/Areas/dist/css/adminlte.min.css?v=3.2.0">

    <link rel="stylesheet" href="~/Areas/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">

    <link rel="stylesheet" href="~/Areas/plugins/daterangepicker/daterangepicker.css">

    @*Vòng tròn ở index*@
    @*<link href="~/Areas/dist/css/custom.min.css" rel="stylesheet">*@

    <link rel="stylesheet" href="plugins/summernote/summernote-bs4.min.css">
    <script nonce="dd4bf294-36a6-41c6-8f5f-e693ab299781">(function (w, d) { !function (a, e, t, r, z) { a.zarazData = a.zarazData || {}, a.zarazData.executed = [], a.zarazData.tracks = [], a.zaraz = { deferred: [] }; var s = e.getElementsByTagName("title")[0]; s && (a.zarazData.t = e.getElementsByTagName("title")[0].text), a.zarazData.w = a.screen.width, a.zarazData.h = a.screen.height, a.zarazData.j = a.innerHeight, a.zarazData.e = a.innerWidth, a.zarazData.l = a.location.href, a.zarazData.r = e.referrer, a.zarazData.k = a.screen.colorDepth, a.zarazData.n = e.characterSet, a.zarazData.o = (new Date).getTimezoneOffset(), a.dataLayer = a.dataLayer || [], a.zaraz.track = (e, t) => { for (key in a.zarazData.tracks.push(e), t) a.zarazData["z_" + key] = t[key] }, a.zaraz._preSet = [], a.zaraz.set = (e, t, r) => { a.zarazData["z_" + e] = t, a.zaraz._preSet.push([e, t, r]) }, a.dataLayer.push({ "zaraz.start": (new Date).getTime() }), a.addEventListener("DOMContentLoaded", (() => { var t = e.getElementsByTagName(r)[0], z = e.createElement(r); z.defer = !0, z.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(a.zarazData))), t.parentNode.insertBefore(z, t) })) }(w, d, 0, "script"); })(window, document);</script>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper" >

        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/wwwroot/images/LOGO.PNG" alt="AdminLTELogo" height="60" width="60">
        </div>

        <nav class="main-header navbar navbar-expand navbar-white navbar-light" style="color:red;font-weight:bold;opacity:1">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("DangXuat","DangNhap")" class="nav-link" title="Đăng xuất" >
                        <i class="mdi mdi-logout text-primary"></i>
                        Đăng xuất
                    </a>
                </li>

            </ul>

            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>




                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>

            </ul>
        </nav>


        <aside class="main-sidebar sidebar-dark-primary elevation-4">

            <a href="@Url.Action("Index","Home")" class="brand-link">
                <img src="~/Areas/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Admin</span>
            </a>

            <div class="sidebar">

                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    @{
                        string img = "~/wwwroot/images/TaiKhoan/" + Session["AnhAdmin"];
                    }
                    <img src="@Url.Content(img)"
                         alt="profile" />
                    <span class="nav-profile-name" style="color:white">@Session["HoTenAdmin"]</span>
                </div>



                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-item menu-open">

                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Home")" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Bảng điều khiển

                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","SanPhams")" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Quản lí sản phẩm

                                </p>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","DanhMucSPs")" class="nav-link">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>
                                    Quản lí danh mục

                                </p>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","HoaDons")" class="nav-link">
                                <i class="nav-icon fas fa-tree"></i>
                                <p>
                                    Quản lí hóa đơn

                                </p>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","TaiKhoans")" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    Quản lí tài khoản

                                </p>
                            </a>

                        </li>

                    </ul>
                </nav>

            </div>

        </aside>

        <div class="content-wrapper">

            @RenderBody()



        </div>





    </div>


    <script src="~/Areas/plugins/jquery/jquery.min.js"></script>

    <script src="~/Areas/plugins/jquery-ui/jquery-ui.min.js"></script>

    <script>$.widget.bridge('uibutton', $.ui.button)</script>

    <script src="~/Areas/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/Areas/plugins/chart.js/Chart.min.js"></script>

    <script src="~/Areas/plugins/sparklines/sparkline.js"></script>

    <script src="~/Areas/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/Areas/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>

    <script src="~/Areas/plugins/jquery-knob/jquery.knob.min.js"></script>

    <script src="~/Areas/plugins/moment/moment.min.js"></script>
    <script src="~/Areas/plugins/daterangepicker/daterangepicker.js"></script>

    <script src="~/Areas/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

    <script src="~/Areas/plugins/summernote/summernote-bs4.min.js"></script>

    <script src="~/Areas/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

    <script src="~/Areas/dist/js/adminlte.js?v=3.2.0"></script>

    @*Lọc*@
    <script src="~/Areas/dist/js/woocommerce.min287d.js"></script>
    <script src="~/Areas/dist/js/dashboard.js"></script>
    <script src="~/Areas/dist/js/data-table.js"></script>
    <script src="~/Areas/dist/js/dataTables.bootstrap4.js"></script>
    <script src="~/Areas/dist/js/jquery.dataTables.js"></script>

    <script src="~/Areas/dist/js/pages/dashboard.js"></script>
    @*Thông báo xóa bằng ô thông báo*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />

    @*Làm vòng tròn ở index, hiện theo % số liệu bên cạnh*@
    @*<script src="~/Areas/dist/js/custom.min.js"></script>*@
</body>

</html>
<style>
    .active a {
       
        color: white;
        margin: 100px;
    }
    .page-number {
        list-style: none;
        float: left;
        font-size: 25px;
        color: white;
    }
        .page-number a {
            background-color: cornflowerblue;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin: 5px;
            border-radius: 50%;
            color:white;
        }
    .luulai{
        color:white;
        background-color:cornflowerblue;
    }
    .luulai:hover{
        color:white;
        background-color:green;
    }
    .font-weight-bold bdi{
        text-decoration:none
    }
    .col-md-3{
        text-decoration:none
    }
   
 
</style>
